<div class="column is-half">

  <h1>Login</h1>
  <div class="field">
    <div class="control">
      <input id="loginEmail" class="input " type="text" placeholder="Email" [(ngModel)]="postData.email" required>

    </div>
  </div>
  <div class="field">
    <div class="control">
      <input id="loginPassword" class="input" type="password" placeholder="Password" [(ngModel)]="postData.password"
        required>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <span class='has-text-danger'>{{errorText}}</span>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <a routerLink="/forgot" id="forgotLink">Forgot password?</a>
    </div>
  </div>
  <button class="button is-primary" (click)="loginAction()" id="loginButton">Login</button>

</div>