<div class="column is-half">
  <h1>Sign up</h1>
  <div class="field">
    <div class="control">
      <input class="input " type="text" placeholder="Email">
    </div>
  </div>
  <div class="field">
    <div class="control">
      <input class="input" type="password" placeholder="Password">
    </div>
  </div>
  <div class="field">
    <div class="control">
      <input class="input" type="password" placeholder="Confirm  Password">
    </div>
  </div>
  <div class="field">
    <div class="control">
     <a href="/forgot" >Forgot password?</a>
    </div>
  </div>
  <a class="button is-primary">Sign up</a>

</div>
