<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <app-logo></app-logo>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu">
    <!-- <div class="navbar-start">AA</div> -->
    <div class="navbar-end">
      <a class="navbar-item " routerLink="/signup" routerLinkActive="active">
        Signup
      </a>
      <a class="navbar-item " routerLink="/" routerLinkActive="active">
       Login
      </a>

    </div>
  </div>
</nav>

<div class="content">
  <section class="section">
    <div class="container mainBlock">
      <router-outlet></router-outlet>
    </div>
  </section>
</div>

